@media screen and (max-width:839.9px) {
  .morejobs {
    margin: 0 var(--m-outer-margin-l);
    padding: 0 0 6rem 0;
  }
  .morejobsheader {
    font-size: var(--fontsize-18);
    line-height: 1;
    letter-spacing: -0.015em;
    text-align: center;
    margin: 1em var(--m-outer-margin-l);
    color: var(--EMG-Hazy-White-Tone-3);
   } 
   .morejobs_jobs {
    display: flex;
    flex-direction: column;
    gap: var(--d-gutter);
  }
  .job {
    border: 1px solid var(--EMG-Deep-Teal);
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--EMG-Sorbet);
    flex: 0 0 calc((100% - 2 * var(--d-gutter)) / 3);
  }
  .job:nth-child(2){
    background-color: var(--EMG-Ocean);
  }
  .job:nth-child(3){
    background-color: var(--EMG-Citrus);
  }
  .jobinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fontsize-20);
    margin-bottom: .5em;
  }
  .jobtitle {
    font-size: var(--fontsize-35);
    font-family: var(--font-reckless);
    line-height: 0.83;
    letter-spacing: -0.04em;
    margin-bottom: .33em;
  }
  .button {
    text-align: right;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width:840px) {
  .morejobs {
    width: var(--d-colWidth-10);
    margin: 0 auto;
    padding: 0 0 6rem 0;
  }
  .morejobsheader {
    font-size: var(--fontsize-20);
    line-height: 1;
    letter-spacing: -0.015em;
    text-align: center;
    margin: 1em auto;
    max-width: var(--d-colWidth-10);
   } 
  .morejobs_jobs {
    display: flex;
    gap: var(--d-gutter);
  }
  .job {
    border: 1px solid var(--EMG-Deep-Teal);
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--EMG-Sorbet);
    flex: 0 0 calc((100% - 2 * var(--d-gutter)) / 3);
  }
  .job:nth-child(2){
    background-color: var(--EMG-Ocean);
  }
  .job:nth-child(3){
    background-color: var(--EMG-Citrus);
  }
  .jobinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fontsize-20);
    margin-bottom: .5em;
  }
  .jobtitle {
    font-size: var(--fontsize-35);
    font-family: var(--font-reckless);
    line-height: 0.83;
    letter-spacing: -0.04em;
    margin-bottom: .33em;
  }
  .button {
    text-align: right;
    margin-top: 1.5rem;
  }
}