@media screen and (max-width:839.9px) {
  .employee {
    padding-top: calc( 1.66 * var(--nav-height));
  }
  .backbutton:global(.button) {
    position: absolute;
    z-index: 1;
    margin: 1rem 2rem;
    padding: .5em 1em;
  }
  .image {
    width: calc(100% - 2 * var(--m-outer-margin-s) ); 
    margin: 0 auto;
    border: 1px solid var(--EMG-Deep-Teal);
    border-radius: 1rem;
    overflow: hidden;
    aspect-ratio: 0.753968254;
    height: auto;
    position: relative;
    display: block;
  }
  .image img {
    transform: translateZ(0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .name {
    font-size: var(--fontsize-60);
    font-family: var(--font-reckless);
    line-height: 0.915;
    letter-spacing: -0.015em;
    width: calc(100% - 2 * var(--m-outer-margin-l) ); 
    margin: .6em auto 0.25em auto;
  }
  .title {
    font-size: var(--fontsize-20);
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2 * var(--m-outer-margin-l) ); 
    margin: 0 auto;
    margin-bottom: 2em;
  }
  .bio {
    width: calc(100% - 2 * var(--m-outer-margin-l) ); 
    margin: 0 auto 3em auto;
    --space: 6vw;
  }
  .bio p {
    font-size: var(--fontsize-18);
    line-height: 1.1;
    margin-bottom: 1em;
  }
  .bio blockquote {
    position: relative;
  }
  .bio blockquote:before{
    content: "“";
    position: relative;
    font-size: 37.674vw;
    float: left;
    top: .3em;
    left: -0.05em;
    margin-right: -.2em;
    line-height: 0.3;
    width: 0.625em;
    color: var(--EMG-Aero-Orange);
  }
  .bio blockquote p {
    font-family: var(--font-reckless);
    font-style: italic;
    font-weight: 500;
    font-size: var(--fontsize-35);
    margin: 2em 0;
    letter-spacing: -0.022em;
  }
  .nonbutton {
    font-size: 3.023vw;
    width: calc(100% - 2 * var(--m-outer-margin-l) ); 
    margin: 0 var(--m-outer-margin-l);
    margin-top: 1.5em;
  }
  .contact {
    display: flex;
    gap: .75em;
    margin: 1em var(--m-outer-margin-l) 6em var(--m-outer-margin-l);
  }
}
@media screen and (min-width:840px) {
  .employee {
    display: flex;
    margin: 0 var(--d-outer-margin);
    padding-top: calc( 2 * var(--nav-height));
    gap: calc( 2 * var(--d-gutter) + var(--d-colWidth-1));
  }
  .backbutton:global(.button) {
    position: absolute;
    margin: 1rem;
  }
  .image {
    flex: 0 0 var(--d-colWidth-4);
    border: 1px solid var(--EMG-Deep-Teal);
    border-radius: 1rem;
    overflow: hidden;
    aspect-ratio: 0.753968254;
    height: calc(var(--d-colWidth-4) / 0.753968254 );
    margin-bottom: 3rem;
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .text {
    flex: 0 0 var(--d-colWidth-4);
  }
  .name {
    font-size: var(--fontsize-80);
    font-family: var(--font-reckless);
    letter-spacing: -0.015em;
    margin-top: 1em;
  }
  .title {
    font-size: var(--fontsize-20);
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
  }
  .bio {
    --space: 1.5vw;
  }
  .bio p {
    font-size: var(--fontsize-18);
    line-height: 1.1;
    margin-bottom: 1em;
  }
  .bio blockquote {
    position: relative;
  }
  .bio blockquote:before{
    content: "“";
    position: absolute;
    font-size: 9.661vw;
    top: 0;
    right: calc(100% - 0.125em);
    line-height: .9;
    width: 0.625em;
    height: 100%;
    color: var(--EMG-Aero-Orange);
  }
  .bio blockquote p {
    font-family: var(--font-reckless);
    font-style: italic;
    font-weight: 500;
    font-size: 2.083vw;
    margin-bottom: var(--space);
  }
  .nonbutton {
    font-size: var(--fontsize-15);
    font-size: 0.773vw;
    margin-top: 1.5em;
  }
  .contact {
    display: flex;
    gap: .75em;
    margin: 3em 0 ;
  }
  .flag:has( + .flag) {
    margin-right: -.5rem;
  }
}