@media screen and (max-width:839.9px) {
  .header {
    position: relative;
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .header_text {
    position: relative;
    z-index: 1;
    padding: 0 var(--m-outer-margin-l) var(--m-outer-margin-l) var(--m-outer-margin-l);
  }
  .header_meta {
    display: flex;
    gap: .25em;
    align-items: center;
    margin-top: .5em;
  }
  .readingtime {
    background-color: var(--EMG-Deep-Teal);
    color: var(--EMG-White);
    border-color: var(--EMG-Deep-Teal);
  }
  .date {
    font-size: var(--fontsize-pill);
    display: inline-block;
    margin-left: 1em;
  }
  .title {
    font-size: var(--fontsize-30);
    font-family: var(--font-reckless);
    letter-spacing: -0.01em;
  }
  .content {
    --space: 6vw;
    padding-top: var(--space);
    padding-left:var(--m-outer-margin-l);
    padding-right: var(--m-outer-margin-l);
    padding-bottom: var(--m-outer-margin-l);
  }
  .content h2, .content h3 {
    font-size: var(--fontsize-25);
    font-family: var(--font-reckless);
    font-weight: 500;
    margin-bottom: var(--space);
  }
  .content p {
    font-size: var(--fontsize-20);
    margin-bottom: var(--space);
  }
  .content blockquote {
    position: relative;
  }
  .content blockquote:before{
    content: "“";
    position: relative;
    font-size: 37.674vw;
    float: left;
    top: .3em;
    left: -0.05em;
    margin-right: -.2em;
    line-height: 0.3;
    width: 0.625em;
    color: var(--EMG-Aero-Orange);
  }
  .content blockquote p {
    font-family: var(--font-reckless);
    font-style: italic;
    font-weight: 500;
    font-size: var(--fontsize-35);
    margin: 2em 0;
    letter-spacing: -0.022em;
  }
  .image_row {
    display: flex;
    justify-content: space-between;
    padding-left: var(--m-outer-margin-l);
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
  }
  .image_1 {
    flex: 0 0 66vw;
    height: 66vw;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid var(--EMG-Deep-Teal);
    display: block;
    position: relative;
  }
  .image_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .image_2 {
    flex: 0 0 23.306930691vw;
    height: 66vw;
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
    border: 1px solid var(--EMG-Deep-Teal);
    border-right: none;
    display: block;
    position: relative;
  }
  .image_2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .morePosts {
    margin: 2rem var(--m-outer-margin-l);
  }
  .morePosts_title {
    margin: 0 var(--m-outer-margin-l);
    font-size: var(--fontsize-25);
  }
  .morePosts > * {
    margin: 1rem 0;
  }
}
@media screen and (min-width:840px) {
  .post {
    width: 100%;
    padding: calc(3 * var(--nav-height)) var(--d-outer-margin) 0 var(--d-outer-margin);
  }
  .header {
    margin-left: calc( var(--d-colWidth-3) + var(--d-gutter));
    width: var(--d-colWidth-6);
    margin-bottom: 3rem;
  }
  .header_meta {
    display: flex;
    gap: .25em;
    align-items: center;
  }
  .date {
    font-size: var(--fontsize-pill);
    display: inline-block;
    margin-left: 1em;
  }
  .readingtime {
    background-color: var(--EMG-Deep-Teal);
    color: var(--EMG-White);
    border-color: var(--EMG-Deep-Teal);
  }
  .title {
    font-size: var(--fontsize-60);
    font-family: var(--font-reckless);
    letter-spacing: -0.005em;
    margin-bottom: .2em;
  }
  .content {
    margin-left: calc( var(--d-colWidth-3) + var(--d-gutter));
    width: var(--d-colWidth-4);
    --space: 2.5vw;
  }
  .content h2, .content h3 {
    font-size: 1.488vw;
    font-family: var(--font-reckless);
    font-weight: 500;
    margin-bottom: var(--space);
  }
  .content p {
    font-size: 0.892vw;
    margin-bottom: var(--space);
  }
  .content blockquote {
    position: relative;
  }
  .content blockquote:before{
    content: "“";
    position: absolute;
    font-size: 9.661vw;
    top: 0;
    right: calc(100% - 0.125em);
    line-height: .9;
    width: 0.625em;
    height: 100%;
    color: var(--EMG-Aero-Orange);
  }
  .content blockquote p {
    font-family: var(--font-reckless);
    font-style: italic;
    font-weight: 500;
    font-size: 2.083vw;
    margin-bottom: var(--space);
  }
  .image_row {
    display: flex;
    width: var(--d-colWidth-8);
    margin: 3rem auto;
    justify-content: space-between;
  }
  .image_1 {
    flex: 0 0 27vw;
    height: 22.3199999992vw;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid var(--EMG-Deep-Teal);
    display: block;
    position: relative;
  }
  .image_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .image_2 {
    flex: 0 0 39.88095238vw;
    height: 22.3199999992vw;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid var(--EMG-Deep-Teal);
    display: block;
    position: relative;
  }
  .image_2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .morePostsSection {
    width: var(--d-colWidth-4);
    margin: 3rem auto;
  }
  .morePostsSection :global(.button) {
    font-size: var(--fontsize-12);
  }
  .morePosts_title {
    margin-bottom: 1rem;
    font-size: var(--fontsize-25);
  }
  .morePosts {
    display: flex;
    gap: var(--d-gutter);
  }
}
