.loading {
  background-color: var(--EMG-Hazy-White);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  animation-name: slideIn, pulse;
  animation-duration: 1s, 1s;
  animation-timing-function: cubic-bezier(.41,.29,0,.99), ease-in-out;
  animation-iteration-count: 1, infinite;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    clip-path: circle(0% at 50% 50%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}