.main {
  font-family: var(--font-agrandir);
}

@media screen and (max-width:839.9px) {
  .main {
    border-radius: 0 0 1em 1em;
    overflow: hidden;
    outline: 1px solid #000;
    position: relative;
    z-index: 10;
    margin-bottom: -1em;
    background-color: var(--EMG-Hazy-White);
  }
  .main:has(:global(.blocks .peoplefooter:last-child)) {
   border-radius: 0;
   outline: none;
  }
}
@media screen and (min-width:840px) {
  
}

