@media screen and (max-width:839.9px) {
  .services_row {
    margin: 0 var(--m-outer-margin-l) 4em var(--m-outer-margin-l);
    padding-top: calc(var(--nav-height) * 2);
  }
  .services_link_row > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 50%;
    gap: 2em;
  }
  .services_link_row > * > :global(.icon) {
    height: 33.4vw;
    width: auto;
  }
  .services_intro_title {
    font-family: var(--font-reckless);
    font-size: var(--fontsize-50);
    letter-spacing: -0.015em;
    line-height: 0.915;
    text-align: center;
  }
  .services_intro_text {
    margin-bottom: 4em;
  }
  .services_intro_text p {
    margin-top: 1em;
    font-size: 4.186vw;
    text-align: center;
  }
  .services_link_row > * > :global(.button){
    font-size: 3.783vw;
    margin-bottom: 4em;
  }
}


@media screen and (min-width:840px) {
  .services_row {
    margin: 0 auto 4em auto;
    width: var(--d-colWidth-8);
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--nav-height) * 1.5);
  }
  .services_row > :first-child {
    flex: 0 0 calc(var(--d-colWidth-3) * 1.1 );
  }
  .services_row > :last-child {
    width: 100%;
    flex: 0 0 var(--d-colWidth-4);
  }
  .services_link_row {
    display: flex;
    justify-content: space-between;
  }
  .services_link_row > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 50%;
    gap: 2em;
  }
  .services_link_row > * > :global(.icon) {
    height: 9vw;
    width: auto;
  }
  .services_intro_title {
    font-family: var(--font-reckless);
    font-size: 3.571vw;
    margin-bottom: .5em;
  }
  .services_intro_text p {
    margin-top: 1em;
    font-size: 1.071vw;
  }
  .services_link_row > * > :global(.button){
    font-size: var(--fontsize-12);
  }
}