@media screen and (max-width:839.9px) {

  .blogslider_wrapper {
    overflow: hidden;
    padding: 2rem 0;
  }
  .title p {
    font-size: var(--fontsize-20);
    margin-bottom: .75em;
    text-align: center;
    color: var(--EMG-Hazy-White-Tone-3);
  }
  .title h1, .title h2, .title h3, .title h4 {
    font-size: var(--fontsize-30);
    font-family: var(--font-reckless);
    letter-spacing: -0.015em;
    line-height: 0.885;
    margin-bottom: .75em;
    text-align: center;
  }
  .blogslider :global(.swiper-wrapper) {
    left: calc(var(--m-outer-margin-l) - .25rem);
  }
  .blogslider :global(.swiper-slide) {
    width: 66.6667vw;
    transition: var(--slidertransition);
  }
  .blogslider_wrapper :global(.slider-navbuttons) {
    display: none;
  }
  .postcard_regular {
    padding: 0 .25rem;

    & .featured_image {
      position: relative;
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      border: 1px solid var(--EMG-Deep-Teal);
      border-radius: 1em;
      overflow: hidden;
      transition: height 0.4s var(--bounce);
    }
    & .featured_image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & .header_meta {
      display: flex;
      font-size: var(--fontsize-pill);
      align-items: center;
      gap: calc( 0.5 * var(--fontsize-pill) );
      margin: 1em 0;
    }
    & .postcard_title {
      font-size: var(--fontsize-25);
      line-height: 1;
      letter-spacing: -0.015em;
      margin: 0;
      padding: .25em 0 .75em 0;
      max-width: 75%;
    }
  }
}
@media screen and (min-width:840px) {
  .blogslider_wrapper {
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
  }
  .title {
    position: relative;
    left: calc(var(--d-outer-margin) + var(--d-colWidth-1) + var(--d-gutter));
    display: inline-block;
  }
  .title p {
    font-size: var(--fontsize-20);
    margin-bottom: .75em;
  }
  .title h1, .title h2, .title h3, .title h4 {
    font-size: var(--fontsize-50);
    font-family: var(--font-reckless);
    letter-spacing: -0.015em;
    line-height: 0.885;
    margin-bottom: .75em;
  }
  .blogslider {
    --slidertransition: all 0.3s ease-in-out;

    width: 100%;
    height: auto;
    margin-bottom: 4rem;
  }
  .blogslider_wrapper :global(.slider-navbuttons) {
    position: absolute;
    top: calc(var(--fontsize-50) * 1.5);
    right: calc( var(--d-outer-margin) + var(--d-colWidth-1) + var(--d-gutter) ); 
  }
  .blogslider :global(.swiper-wrapper) {
    left: calc(var(--d-outer-margin) + var(--d-colWidth-1) + var(--d-gutter) - 1rem - 20vw);
  }
  .blogslider :global(.swiper-slide) {
    width: 20vw;
    transition: var(--slidertransition);
  }
  .blogslider :global(.swiper-slide):nth-child(2) {
    /* Needs to NOT be important to NOT override block style */
    width: 40vw;
  }
  .blogslider :global(.swiper-slide-next) {
    /* Needs to be important to override block style */
    width: 40vw !important; 
  }
  .blogslider :global(.swiper-slide-next),
  .blogslider :global(.swiper-slide):nth-child(2) {
    transition: var(--slidertransition);

    & .header_meta, & .header_meta :global(.pill) {
      font-size: calc( 2.2 * var(--fontsize-pill)); 
    }
    & .postcard_title {
      font-size: calc( 2.2 * var(--fontsize-20)); 
    }
  }

  .postcard_regular {
    padding: 0 1rem;
    transition: padding-bottom 0.4s cubic-bezier(.38,.24,.15,1.22);
  
    & .featured_image {
      position: relative;
      width: 100%;
      height: auto;
      border: 1px solid var(--EMG-Deep-Teal);
      border-radius: 1em;
      overflow: hidden;
      transition: height 0.4s cubic-bezier(.38,.24,.15,1.22);
    }
    & .featured_image a {
      display: block;
      width: 100%;
      height: 100%;
    }
    & .featured_image img,
    & .featured_image picture {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block
    }
    & .header_meta {
      display: flex;
      font-size: var(--fontsize-pill);
      align-items: center;
      gap: .5em;
      margin: 1em 0;
      transform-origin: left top;
      transition: var(--slidertransition);
    }
    & .header_meta :global(.pill) {
      transition: var(--slidertransition);
    }
    & .postcard_title {
      font-size: var(--fontsize-20);
      line-height: 1;
      letter-spacing: -0.015em;
      margin: 0;
      padding: 0 0 1em 0;
      transform-origin: left top;
      transition: var(--slidertransition);
    }
  }
}