@media screen and (max-width:839.9px) {
  .services {
    display: flex;
    gap: var(--d-gutter);
    margin: 0 var(--m-outer-margin-l);
    flex-wrap: wrap;
  }
}
@media screen and (min-width:840px) {
  .services {
    display: flex;
    gap: var(--d-gutter);
    width: var(--d-colWidth-10);
    margin: 0 auto;
    padding: 4rem 0;
    flex-wrap: wrap;
  }
  .services.service_columns_3 > * {
    flex: 1 1 calc( 33.333% - var(--d-gutter) );
    margin-bottom: 2rem;
  }
  .services.service_columns_4 > * {
    flex: 1 1 calc( 25% - var(--d-gutter) );
    margin-bottom: 2rem;
  }
}