@media screen and (max-width:839.9px) {
  .hero {
  }
  .image {
    width: 100vw;
    aspect-ratio: 1.2482582443;
    height: auto;
    display: block; 
    position: relative;
    border-radius: 0 0 1rem 1rem;
    outline: 1px solid var(--EMG-Deep-Teal);
    overflow: hidden;
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .content {
    line-height: 0.925;
    padding: 2rem var(--m-outer-margin-l);
  }
  .title {
    font-size: var(--fontsize-60);
    margin-top: .75em;
  }
  .country {
    display: block;
    font-size: var(--fontsize-70);
    font-family: var(--font-reckless);
    letter-spacing: -0.015em;
    font-style: italic;
  }
  .cta {
    display: flex;
    gap: .5rem;
    align-items: center;
    margin: 2rem 0;
  }
  .button {
    font-size: var(--fontsize-15);
  }
  .flag {
    font-size: calc( 2.6666 * var(--fontsize-15) );
  }
  .intro p {
    font-size: var(--fontsize-18);
    margin-bottom: 1em;
    line-height: 1.1;
  }
  .facts {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin: 4rem 0;
  }
  .fact {
    flex: 1 1 calc( 33.333% - 1rem);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: var(--fontsize-18);
  }
}
@media screen and (min-width:840px) {
  .hero {
    display: flex;
    gap: var(--d-gutter);
  }
  .image {
    width: calc( var(--d-outer-margin) + var(--d-colWidth-5) );
    aspect-ratio: 0.841733871;
    height: auto;
    display: block; 
    position: relative;
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  .content {
    flex: 0 0 calc( var(--d-colWidth-5) );
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 0.925;
    padding-left: calc( var(--d-gutter) + var(--d-colWidth-1));
  }
  .title {
    font-size: var(--fontsize-80);
  }
  .country {
    display: block;
    font-size: var(--fontsize-100);
    font-family: var(--font-reckless);
    font-style: italic;
  }
  .cta {
    display: flex;
    gap: .5rem;
    align-items: center;
    margin: 2rem 0;
  }
  .button {
    font-size: var(--fontsize-15);
  }
  .flag {
    font-size: calc( 2.6666 * var(--fontsize-15) );
  }
  .intro p {
    font-size: var(--fontsize-18);
    margin-bottom: 1em;
    line-height: 1.1;
    max-width: var(--d-colWidth-3);
  }
  .facts {
    display: flex;
    gap: var(--d-gutter);
    margin: 1rem 0 4rem 0;
  }
  .fact {
    flex: 0 0 var(--d-colWidth-1);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}