@media screen and (max-width:839.9px) {
  .blogroll {
    font-family: var(--font-agrandir);
    padding: calc(1.5 * var(--nav-height)) var(--m-outer-margin-s) calc( 2 * var(--m-outer-margin-s) );
    border-radius: 0 0 1em 1em;
    overflow: hidden;
    outline: 1px solid #000;
    position: relative;
    z-index: 10;
    margin-bottom: -1em;
    background-color: var(--EMG-Hazy-White);
  }
  .topics {
    display: flex;
    flex-wrap: nowrap;
    margin: 1em auto;
    gap: .25em;
    padding: 0;
  }
  .topics :global(.pill) {
    font-size: calc(1.5 * var(--fontsize-pill));
  }
  .post_list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (min-width:840px) {
  .blogroll {
    font-family: var(--font-agrandir);
    width: var(--d-colWidth-8);
    margin: 0 auto;
    padding: calc(1.5 * var(--nav-height)) 0 0 0;
  }
  .topics {
    display: flex;
    flex-wrap: nowrap;
    margin: 1em auto;
    gap: .25em;
    padding: 0;
  }
  .post_list {
    display: grid;
    grid-template-columns: repeat(4, var(--d-colWidth-2));
    gap: var(--d-gutter);
    padding: 0;
  }
}