.answer p, 
.answer:has(+ .cta) p:last-child {
  margin-bottom: 1em;
}
.answer p:last-child {
  margin-bottom: 0;
}
.answer h1, .answer h2, .answer h3, .answer h4, .answer h5, .answer h6 {
  font-size: var(--fontsize-18);
  line-height: 1.1;
  margin: 0 0 1em 0;
}
@keyframes toggleBounce {
  0%   { height: 0; }
  40%  { height: calc(var(--faq-height) + 2rem ); }
  60%  { height: var(--faq-height) }
  80%  { height: calc(var(--faq-height) + .33rem ); }
  100% { height: var(--faq-height); }
}
@keyframes unToggleBounce {
  0%   { height: var(--faq-height); }
  100% { height: 0; }
}

@media screen and (max-width:839.9px) {
  .faq {
    --faq-height: 100%;
    --faq-padding: 1.5rem;
    border: 1px solid var(--EMG-Deep-Teal);
    border-radius: .5rem;
    padding: var(--faq-padding);
    background-color: var(--EMG-White);
    position: relative;
    margin-bottom: .5rem;
  }
  .toggleContent {
    height: 0;
    overflow: hidden;
  }
  [data-interacted="true"].closed .toggleContent {
    animation: unToggleBounce 0.5s cubic-bezier(.22,.35,0,1) forwards;
  }
  .open .toggleContent {
    height: var(--faq-height);
    animation: toggleBounce 0.5s ease forwards;
  }
  .question {
    font-size: var(--fontsize-15);
    line-height: 1.1;
    position: relative;
    padding: var(--faq-padding) calc(2 * var(--faq-padding) + var(--fontsize-15)) var(--faq-padding) var(--faq-padding);
    margin: calc(-1 * var(--faq-padding));
    cursor: pointer;
  }
  .answer {
    font-size: var(--fontsize-15);
    line-height: 1.1;
    padding-top: 1rem;
  }
  .plus:global(.circle_plus) {
    font-size: var(--fontsize-20);
    background-color: var(--EMG-Aero-Orange);
    border-radius: 50%;
    position: absolute;
    right: var(--faq-padding);
    top: calc(50% - .5em);
    pointer-events: none;
  }
  .cta {
    font-size: var(--fontsize-10);
  }
}
@media screen and (min-width:840px) {
  .faq {
    --faq-height: 100%;
    --faq-padding: 2rem;
    border: 1px solid var(--EMG-Deep-Teal);
    border-radius: .5rem;
    padding: var(--faq-padding);
    background-color: var(--EMG-White);
    position: relative;
  }
  .toggleContent {
    height: 0;
    overflow: hidden;
  }
  [data-interacted="true"].closed .toggleContent {
    animation: unToggleBounce 0.5s cubic-bezier(.22,.35,0,1) forwards;
  }
  .open .toggleContent {
    height: var(--faq-height);
    animation: toggleBounce 0.5s ease forwards;
  }
  .question {
    font-size: var(--fontsize-20);
    line-height: 1.1;
    position: relative;
    padding: var(--faq-padding) calc(2 * var(--faq-padding) + var(--fontsize-25)) var(--faq-padding) var(--faq-padding);
    margin: calc(-1 * var(--faq-padding));
    cursor: pointer;
  }
  .answer {
    font-size: var(--fontsize-15);
    line-height: 1.1;
    margin: 0;
    padding-top: 1rem;
  }
  .plus:global(.circle_plus) {
    font-size: var(--fontsize-30);
    background-color: var(--EMG-Aero-Orange);
    border-radius: 50%;
    position: absolute;
    right: var(--faq-padding);
    top: calc(50% - .5em);
    pointer-events: none;
  }
}
